@keyframes shimmer {
  0% {
    background-position: calc(0% - 50px) 0%;
  }
  100% {
    background-position: calc(100% + 50px) 0%;
  }
}

@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}

:root {
  --animate-up-down: {
    animation: up-down 1.4s infinite ease-in-out alternate;
  }
}

.animate-up-down {
  animation: up-down 1.4s infinite ease-in-out alternate;
}

._shimmer {
  color: rgba(255, 255, 255, 0.3);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5b5b5b),
    to(#5b5b5b),
    color-stop(0.8, #c6c6c6)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#5b5b5b),
    to(#5b5b5b),
    color-stop(0.8, #c6c6c6)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#5b5b5b),
    to(#5b5b5b),
    color-stop(0.8, #c6c6c6)
  );
  background-size: 50px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba(198, 198, 198, 0.3);
  -webkit-animation: shimmer 3s infinite;
  animation: shimmer 3s infinite;
}

._shimmer > h6 {
  color: #ffffff;
}

._shimmer > span {
  color: #ffffff4d;
}

.layout {
  background: url(/img/bg/floral-1.jpg), url(/img/bg/floral-2.jpg) black;
  background-size: 300px 400px, 100px 500px;
  background-repeat: no-repeat, no-repeat;
  background-position: top 64px left, bottom 56px right;
}

.img--full-width {
  width: 100%;
}

.img--center {
  height: 200px;
  margin: auto;
}

@media (max-width: 600px) {
  .img--grow {
    width: calc(100% + 30px);
    margin-top: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 600px) {
  .img--left {
    border-radius: 5px;
    max-width: 299px;
    float: left;
    margin: 0 15px 15px 0;
  }
}

/* Styles inside markdown */

.markdown > .experience > p {
  text-align: justify;
}

.markdown > .experience > p > img {
  border-radius: 50%;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

.markdown > .experience > p > img ~ strong {
  vertical-align: text-bottom;
}
