@keyframes shimmer {
  0% {
    background-position: calc(0% - 50px) 0%;
  }
  100% {
    background-position: calc(100% + 50px) 0%;
  }
}

@keyframes up-down {
  from {
    transform: translatey(0px);
  }
  to {
    transform: translatey(-20px);
  }
}

@keyframes bounce {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0;
  }
}

.animate-up-down {
  animation: up-down 1.4s infinite ease-in-out alternate;
}

.hover-up:hover {
  animation: bounce 0.75s 1 alternate;
}

#navbar-title {
  color: rgba(255, 255, 255, 0.3);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#5b5b5b),
    to(#5b5b5b),
    color-stop(0.8, #c6c6c6)
  );
  background: -moz-gradient(
    linear,
    left top,
    right top,
    from(#5b5b5b),
    to(#5b5b5b),
    color-stop(0.8, #c6c6c6)
  );
  background: gradient(
    linear,
    left top,
    right top,
    from(#5b5b5b),
    to(#5b5b5b),
    color-stop(0.8, #c6c6c6)
  );
  background-size: 50px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: rgba(198, 198, 198, 0.3);
  -webkit-animation: shimmer 2.5s infinite;
  animation: shimmer 2.5s infinite;
}

.navbar-title > h6 {
  color: #ffffff;
}

.navbar-title > span {
  color: #ffffff4d;
}

.img--full-width {
  width: 100%;
}

.img--center {
  height: 200px;
  margin: auto;
}

@media (max-width: 450px) {
  .img--grow {
    width: 100%;
    width: calc(100% + 16px);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media (min-width: 450px) {
  .img--left {
    border-radius: 5px;
    max-width: 300px;
    float: left;
    margin: 0 15px 15px 0;
  }
  .img--left::after {
    content: '';
    display: block;
    clear: both;
  }
}

/* Styles inside markdown */

.markdown > .experience > p {
  height: 32px;
  overflow: hidden;
}

.markdown > .experience > p > img {
  border-radius: 50%;
  margin-right: 3px;
  width: 16px;
  height: 16px;
}

.markdown > .experience > p > img ~ strong {
  vertical-align: bottom;
  word-break: break-all;
}

html {
  background: #000;
}

body {
  height: 100vh;
  /* background-color: indigo; */

  /* Chip */
  /* background: url('/img/bg/chip.svg') black; */

  /* Snyk */
  /* background: linear-gradient(238deg,#24033a,#4e0380) */

  /* Radial gradient */
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2e2d36 0%, #000000 74%);

  /* Ubuntu */
  /* background-blend-mode: multiply, multiply, normal, normal;
  background-image: linear-gradient(
      to bottom left,
      rgba(119, 41, 83, 0.16) 0,
      rgba(119, 41, 83, 0.16) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to bottom right,
      rgba(228, 228, 228, 0.5) 0,
      rgba(228, 228, 228, 0.5) 49.9%,
      transparent 50%
    ),
    linear-gradient(
      to top left,
      #fff 0%,
      #fff 49.3%,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(-89deg, #e95420 0%, #772953 42%, #2c001e 94%);
  background-position: top right, top left, right bottom -1px, left top;
  background-repeat: no-repeat;
  background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%; */

  /* Floral */

  /* background: url(/img/bg/floral-1.jpg), url(/img/bg/floral-2.jpg) black;
  background-size: 300px 400px, 100px 500px;
  background-repeat: no-repeat, no-repeat;
  background-position: top 64px left, bottom 96px right; */
}

#scrolling::-webkit-scrollbar {
  display: none;
}

#card-element {
  border-radius: 4px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
  margin-bottom: 12px;
}

#submit {
  margin-bottom: 10px;
}

pre {
  color: white;
}
